body{
    background: rgb(89, 86, 71, 1);
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
	color:#ffffff;

}

h1,h2{
    color : #80aafd;
}

.items li a {
    color :red;
}


.container{
    width : 70%;
    margin:auto;
}

header {
    text-align: center;
}

span{
    color : yellow;
}

p::first-letter{
    background-color : green;
    color: white;
    padding:10px;
    border: 1px white solid;
    font-size: 1.5em;
    padding-bottom : 0px;
    
}

.dropcap ::first-line{
    
}

a{
    text-decoration :none;
}

.items li a:hover{
    text-decoration :underline;
}

dt{
    color : yellow;

}

.innerItems{
    list-style:none;
    padding-left:0px;
}

.innerItem2{
    list-style:none;
    padding-left:0px;
    color: white;
}



